<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="mailAppender" class="org.apache.log4j.net.SMTPAppender">
        <!-- Email Configuration -->
        <param name="BufferSize" value="512" />
        <param name="SMTPProtocol" value="smtps" />
        <param name="SMTPHost" value="smtp.gmail.com" />
        <param name="SMTPPort" value="465" />
        <param name="SMTPUsername" value="andriumarich@gmail.com" />
        <param name="SMTPPassword" value="tynzbtwgbjvqzjqt" />
        <param name="From" value="andriumarich@gmail.com" />
        <param name="To" value="andrii.marych.kn.2021@lpnu.ua" />
        <param name="Subject" value="InsuranceApp Error" />

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d{yyyy-MM-dd HH:mm:ss} [%t] %c %x - %m%n" />
        </layout>

        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error" />
            <param name="LevelMax" value="fatal" />
        </filter>
    </appender>
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="true" />
        <param name="maxFileSize" value="10MB" />
        <param name="maxBackupIndex" value="10" />
        <param name="file" value="${catalina.home}/Users/andriymarych/Desktop/Applied Programming/Insurance app/InsuranceAppFx/InsuranceApp/src/main/java/com/marych/insuranceapp/InsuranceApp.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p : %m%n" />
        </layout>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="mailAppender" />
        <appender-ref ref="file" />
    </root>

</log4j:configuration>